<h4>Pure HTML form</h4>
<form action='/posts' method='POST'>
  Title <input type='text' name='my_title'>
  <br/>
  <input type='submit' class="btn btn-primary">
</form>
<br/>


<h4>Rails form helpers</h4>
<%= form_tag '/posts' do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <br/>
  <%= submit_tag "Create Post", class: "btn btn-primary" %>
<% end %>


<h4>Rails model-backed form helpers</h4>
<% form_for OBJ do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br/>
  <%= f.submit "Create Post", class: "btn btn-primary" %>
<% end %>


<h4>Select from Menu</h4>
<div class="control-group">
  <select name='post[category_ids][]' multiple='multiple'>
    <option value='1'>learning</option>
    <option value='2'>Rubyists</option>
    <option value='3'>test_cat</option>
    <option value='3'>funny</option>
  </select>
</div>

<!-- unobtrusive javascript for ajax (not the rails way) -->

$(document).ready(function() {
  $('#hit_form input').click(function() { // 1. unobtrusive javascript event listener
    $.ajax({ // 2. trigger ajax request
      type: 'POST',
      url: '/player/hit',
    }).done(function(msg) { // 3. handle the response
      $('#some_element').html(msg);
    })
  });
});