<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @group.group_name %>
</p>

<p>
  <strong>User name:</strong>
  <%= @group.user_name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @group.color %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
